@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.gallery_wrap {
  max-width: 1080px;
  margin: 0 auto;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.gallery_item {
  position: relative;
  width: calc((100% - 6%) / 4);
  cursor: pointer;
}
.gallery_item img {
  width: 100%;
  display: block;
}
.item_desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding-top: 90px;
  opacity: 0;
  transition: all 0.3s;
}
.gallery_item:hover .item_desc {
  opacity: 1;
}
/* 디테일 화면 */
.gallery_datail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
}
.gallery_datail.active{
  display: block;
}
.gallery_detail_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 1500px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}
.gallery_detail_wrap > div {
  width: 50%;
}
.detail_left > img {
  width: 100%;
  display: block;
}
.content .title_line {
  height: 2px;
  background-color: #f1f1f1;
  margin: 20px auto;
}
.closeBtn{
  color: #f1f1f1;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
}
